body{
    font-family: 'Arima', cursive;
    margin: 0;
    
}
h1{ font-size: 50px;}
.name{color: rgb(253, 7, 19);}
.world{color: rgb(14, 124, 11);}
.welcome{color: rgb(10, 23, 216);}
section{ 
    display:flex;
}
.half-width{ width:50%;
padding-left: 2%;
}
.link-button{
     text-decoration: none;
background-image: linear-gradient(rgb(33, 47, 245), rgb(114, 135, 192) );
padding: 10px 40px;
border-radius: 10px;
color: aqua;
font-weight: 700;
}
.top-banner{ background-image: url( images/top-banner.png) ;
background-repeat: no-repeat;}
.half-width img{ width: 80%;} 